<ion-header>
  <ion-navbar color="dpe-green">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-margin>
    <ion-item *ngIf="data !== null && data.length === 0">
      <p>ไม่พบข้อมูล</p>
    </ion-item>
    <template ngFor let-item [ngForOf]="data">
      <ion-item *ngIf="item.type === 'article'" [id]="item.id">
        <h2>{{item.title}}</h2>
        <img *ngIf="item.imagePath" [attr.src]="item.imagePath">
        <ion-icon name="ios-download-outline" title="จำนวนดาวน์โหลด"></ion-icon>
        <a *ngIf="item.filePath" [attr.href]="item.filePath" target="_blank">ดาวน์โหลด</a>
      </ion-item>
      <ion-item *ngIf="item.type === 'gallery'" [id]="item.id">
        <!-- <h2>{{item.title}}</h2> -->
        <img *ngIf="item.imagePath" [attr.src]="item.imagePath" style="display:block;margin:auto;">
      </ion-item>
    </template>
  </ion-list>
</ion-content>
