<ion-header>
  <ion-navbar color="dpe-green">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-margin>
    <template ngFor let-item [ngForOf]="data">
      <ion-item *ngIf="item.type === 'manager'" [id]="item.id">
          <ion-avatar item-left *ngIf="item.imagePath">
            <img [src]="item.imagePath">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <p *ngIf="item.htmlDescription" class="description" [innerHTML]="item.htmlDescription | SafeHtmlPipe"></p>
          <p *ngIf="item.description" class="description" [innerHTML]="item.description"></p>
      </ion-item>
      <ion-item *ngIf="item.type === 'download'" [id]="item.id">
        <a *ngIf="item.filePath" [attr.href]="item.filePath" target="_blank">{{item.title}}</a>
        <p *ngIf="item.downloadCount">
          <ion-icon name="ios-download-outline" title="จำนวนดาวน์โหลด"></ion-icon> {{item.downloadCount}}
        </p>
      </ion-item>
    </template>
  </ion-list>
</ion-content>
