main-page {
  ion-content {
    .content {
      width: 100%;
      height: 100%;
      background-image: url(../assets/images/main-bg-640x960.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-color: #558EC1;
    }
  }
}
